body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(68, 47, 47);
}

header h1{
    z-index: 3;
    margin: -200px 0px 230px 50px;
    color:azure;
    font-size: huge;
}

main{
    grid-template-columns: 1fr 1fr;
    display: grid;
}

aside{
    margin: 0 0px 0 100px;
}

footer{
    grid-template-columns: 1fr 1fr;
    display: grid;
}

img{
    max-width: 100%;
    max-height: 100%;
}



.texti_1{
    color: rgb(172, 185, 185);
    font-size: large;
    margin: 0px 50px 80px 50px;
}

p{
    color: rgb(172, 185, 185);
    font-size: large;
    margin: 0 0 0 0;
}

.l-iframe {
    width: 280px;
    height: 160px;
    max-width: 100%;
    border: none;
    display: block;
    margin: 0px ;
    border-radius: 6px;
}


@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}


.spin {
    display: inline-block; 
    transform-origin: 50% 50%;
    animation: spin 4s linear infinite;
}

@media screen and (max-width: 600px) {
    main{
        grid-template-columns: 1fr;
    }
    footer{
        grid-template-columns: 1fr;
    }

    .aside{
        grid-template-columns: 1fr 1fr;
        display: grid;
    }
    header h1{
        font-size: medium;
        margin: -150px 0px 150px 20px;
    }
    .texti_1{
        font-size: medium;
        margin: 0px 20px 50px 20px;
    }
    
}